<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.demo.mapper.BoardMapper">
    <insert id="createBoard" parameterType="study.demo.dto.BoardDto" >
        INSERT INTO Board (title, content, writer)
        VALUES (#{title}, #{content}, #{writer})
    </insert>

    <select id="findBoardAll" resultType="study.demo.domain.Board">
        SELECT board_id, title, content, writer
        FROM Board
        ORDER BY board_id DESC
    </select>

    <select id="findBoardById" parameterType="Long" resultType="study.demo.domain.Board">
        SELECT board_id, title, content, writer
        FROM Board
        WHERE board_id = #{board_id}
    </select>

    <update id="updateBoard" parameterType="map">
        UPDATE Board
        SET title = #{boardDto.title}, content = #{boardDto.content}, writer = #{boardDto.writer}
        WHERE board_id = #{boardId};
    </update>


    <delete id="deleteBoard" parameterType="Long">
        DELETE FROM Board
        WHERE board_id = #{board_id};
    </delete>
</mapper>

