<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.demo.mapper.NoticeMapper">
    <sql id="noticeColumns">
        id,
        title,
        content,
        created_at,
        updated_at
    </sql>

    <insert id="createNotice" parameterType="study.demo.domain.Notice">
        INSERT INTO notice (<include refid="noticeColumns"/>) VALUES (
        id, #{title}, #{content}, NOW(), NULL)
    </insert>

    <select id="selectNoticeDetail" parameterType="int" resultType="study.demo.domain.Notice">
        SELECT <include refid="noticeColumns"/>
        FROM notice
        WHERE id = #{id};
    </select>

    <update id="updateNotice" parameterType="study.demo.domain.Notice">
        UPDATE notice
        SET
            updated_at = NOW(),
            title = #{title},
            content = #{content},
        WHERE
            id = #{id}
    </update>

    <delete id="deleteNotice" parameterType="study.demo.domain.Notice">
        DELETE FROM notice WHERE id = #{id}
    </delete>

    <select id="selectNoticeList" parameterType="study.demo.domain.Notice" resultType="study.demo.domain.Notice">
        SELECT *
        FROM
            notice
        ORDER BY
            id DESC,
            created_at DESC
    </select>
</mapper>